.padding-Title{
  padding-bottom:20px;
}
.bg-danger {
  margin-left: 20px;
}

subhead-mar {
  margin-left: 30px;
}

.title-B {
  font-weight: bold;
}

title-1 {
  font-size: 60px;
}

.B-am-m {
  margin-left: 5px;
  margin-right: 5px;
}

alert-dark-color {
  background-color: white;
}

h3 {
  color: red;
}

.carousel-control-prev {
  color: red;
}

.carousel-control-next {
  color: red;
}

.aboutme-imgs {
  width: 300px;
  height: 300px;
}

.neonText {
  color: #fff;
  text-shadow:
    /* White glow */
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
}

/*
Thanks to: Usama Tahir
https://medium.com/@AmJustSam
*/
* {
  margin: 0;
  padding: 0;
}

html {
  width: 100vw;
  height: 100vh;
}

/* CSS which you need for blurred box */
body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: top;
  background-image: url(http://bit.ly/2gPLxZ4);
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica;
  letter-spacing: 0.02em;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

.blurred-box {
  position: relative;
  width: 250px;
  height: 350px;
  top: calc(50% - 175px);
  left: calc(50% - 125px);
  background: inherit;
  border-radius: 2px;
  overflow: hidden;
}

.blurred-box:after {
  content: '';
  width: 300px;
  height: 300px;
  background: inherit;
  position: absolute;
  left: -25px;
  left position right: 0;
  top: -25px;
  top position bottom: 0;
  box-shadow: inset 0 0 0 200px rgba(255, 255, 255, 0.05);
  filter: blur(10px);
}

/* Form which you dont need */
.user-login-box {
  position: relative;
  margin-top: 50px;
  text-align: center;
  z-index: 1;
}

.user-login-box>* {
  display: inline-block;
  width: 200px;
}

.user-icon {
  width: 100px;
  height: 100px;
  position: relative;
  border-radius: 50%;
  background-size: contain;
  background-image: url(https://pbs.twimg.com/profile_images/725321660484583424/ArQ4fM3k.jpg);
}

.user-name {
  margin-top: 15px;
  margin-bottom: 15px;
  color: white;
}

input.user-password {
  width: 120px;
  height: 18px;
  opacity: 0.4;
  border-radius: 2px;
  padding: 5px 15px;
  border: 0;
}

/*special title*/
.Iam {
  font: normal 40px/50px Montserrat, sans-serif;
  color: #999;
}

.Iam p {
  height: 50px;
  float: left;
  margin-right: 0.3em;
}

.Iam b {
  float: left;
  overflow: hidden;
  position: relative;
  height: 50px;
  top: 40px;
}

.Iam .innerIam {
  display: inline-block;
  color: #9e0606;
  position: relative;
  white-space: nowrap;
  top: 0;
  left: 0;
  /*animation*/
  -webkit-animation: move 5s;
  -moz-animation: move 5s;
  -ms-animation: move 5s;
  -o-animation: move 5s;
  animation: move 5s;
  /*animation-iteration-count*/
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  /*animation-delay*/
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -ms-animation-delay: 1s;
  -o-animation-delay: 1s;
  animation-delay: 1s;
}

@keyframes move {
  0% {
    top: 0px;
  }

  20% {
    top: -50px;
  }

  40% {
    top: -100px;
  }

  60% {
    top: -150px;
  }

  80% {
    top: -200px;
  }
}

@-webkit-keyframes move {
  0% {
    top: 0px;
  }

  20% {
    top: -50px;
  }

  40% {
    top: -100px;
  }

  60% {
    top: -150px;
  }

  80% {
    top: -200px;
  }
}

@-moz-keyframes move {
  0% {
    top: 0px;
  }

  20% {
    top: -50px;
  }

  40% {
    top: -100px;
  }

  60% {
    top: -150px;
  }

  80% {
    top: -200px;
  }
}

@-o-keyframes move {
  0% {
    top: 0px;
  }

  20% {
    top: -50px;
  }

  40% {
    top: -100px;
  }

  60% {
    top: -150px;
  }

  80% {
    top: -200px;
  }
}

@keyframes move {
  0% {
    top: 0px;
  }

  20% {
    top: -50px;
  }

  40% {
    top: -100px;
  }

  60% {
    top: -150px;
  }

  80% {
    top: -200px;
  }
}
